@font-face {
  font-family: 'Roboto';
  src: url('fonts/woff2/roboto-bold_1-webfont.woff2') format('woff2'),
    url('fonts/woff/roboto-bold_1-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/woff2/roboto-light_1-webfont.woff2') format('woff2'),
    url('fonts/woff/roboto-light_1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/woff2/roboto-lightitalic_1-webfont.woff2') format('woff2'),
    url('fonts/woff/roboto-lightitalic_1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;

}