.shedule {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}

.shedule-head {
  font-size: 1.5em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shedule__tasks {
  flex: 1;
}

.shedule__task {
  border-bottom: 2px solid rgba(235, 177, 17, 0.5);
}