.task {
  height: 100%;
  width: 100%;
  position: relative;
  // top: 0;
  // left: 0;
  display: flex;
  align-items: center;
}

.task__input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.5em;
  background: none;
  padding: 1vh;
}


.task__icon {
  position: absolute;
  right: 2%;
  width: 3vh;
  border-radius: 50%;
  padding: 4px;
  border: 1px solid rgba(224, 140, 30, .5);
  fill: rgba(224, 140, 30, .5);
}