include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width", initial-scale="1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title | Notes
  body
    .wrapper
      .maincontent        
        .container
          section.hero
            aside.aside
            main.diary
              article.note
                h2.note__head Заметка
                form.note__form
                  .note__row
                    label.note__description
                      h3.note__description-head Заголовок
                      input.note__description-input(name='note_head', type='text', required='')
                      .error
                    label.note__description
                      h3.note__description-head Дата
                      input.note__description-input(name='note_date', type='text')
                      .error
                  .note__row
                    label.note__text
                      h3.note__text-head Текст заметки
                      textarea.note__text-area(name='note_text', type='text', required='')
                      .error
                  .note__row
                    - var i = 0
                      ul.note__tasks
                        while i < 3
                          - i++
                            +task('new')
                    button.note__submit(form='note__form') Сохранить
              article.todo
                h2.todo__head TO DO
                .todo__columns
                  .todo__col-left
                    .shedule
                      h3.shedule-head Текущие задачи
                      - var i = 0
                        ul.shedule__tasks
                          while i < 4
                            - i++
                              +task('old')
                  .todo__col-right
                    .shedule
                      h3.shedule-head Новые задачи
                      - var i = 0
                        ul.shedule__tasks
                          while i < 4
                            - i++
                              +task('new')
                .todo__button                  
                  button.todo__submit Отправить

