include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title | Notes
  body
    .wrapper      
      section.hero
        .container
          aside.aside
            - for (var i = 0; i<=9; i++)
              .preview
                date.preview__date 25 сен вторник
                a(
                  href="#"
                ).preview__btn
                  p.preview__btn-text править
                  +icon('edit', 'preview__btn-icon')
                h3.preview__head Lorem ipsum
                p.preview__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium magnam sint tenetur rem ullam commodi quo. Er consequuntur quasi maxime neque inventore ea animi doloribus repellendus veritatis, a eos hic.
                a(
                  href="#"
                ).preview__btn
                  .preview__btn-text удалить
                  +icon('delete', 'preview__btn-icon')
          main.diary
            article.note
              h2.note__head Заметка
              .note__row
                label.note__description
                  h3.note__description-head Заголовок
                  input.note__description-input
                label.note__description
                  h3.note__description-head Дата
                  input.note__description-input
              label.note__text
                h3.note__text-head Текст заметки
                textarea.note__text-area
              .note__row
                ul.note__tasks
                  li.note__task
                    label.task
                      input(
                        disabled
                      ).task__input
                      +icon('task', 'task__icon')
                  li.note__task
                    label.task
                      input(
                        disabled
                      ).task__input
                      +icon('task', 'task__icon')
                  li.note__task
                    label.task
                      input(
                        disabled
                      ).task__input
                      +icon('task', 'task__icon')
                button.note__submit Сохранить
            article.todo
              h2.todo__head TO DO лист
              .todo__columns
                .todo__col-right
                  .shedule
                    h3.shedule-head Текущие задачи
                    ul.shedule__tasks
                      li.shedule__task
                        label.task
                          input(
                          disabled
                          ).task__input
                          +icon('task', 'task__icon')
                      li.shedule__task
                        label.task
                          input(
                          disabled
                          ).task__input
                          +icon('task', 'task__icon')
                      li.shedule__task
                        label.task
                          input(
                          disabled
                          ).task__input
                          +icon('task', 'task__icon')
                      li.shedule__task
                        label.task
                          input(
                          disabled
                          ).task__input
                          +icon('task', 'task__icon')
                .todo__col-left
                  .shedule
                    h3.shedule-head Новые задачи
                    ul.shedule__tasks
                      li.shedule__task
                        label.task
                          input(
                          disabled
                          ).task__input
                          +icon('task', 'task__icon')
                      li.shedule__task
                        label.task
                          input(
                          disabled
                          ).task__input
                          +icon('task', 'task__icon')
                      li.shedule__task
                        label.task
                          input(
                          disabled
                          ).task__input
                          +icon('task', 'task__icon')
                      li.shedule__task
                        label.task
                          input(
                          disabled
                          ).task__input
                          +icon('task', 'task__icon')                      
              .todo__button
                button.todo__submit Сохранить